<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.mapper.CategoryMapper">
    <select id="getCategory" resultType="Category">
        SELECT * FROM t_category
    </select>

    <select id="getCategoryLevel" resultType="Category">
        SELECT * FROM t_category WHERE LEVEL=#{LEVEL}
    </select>

    <insert id="setCategory">
        INSERT INTO t_category(name,image,level) VALUE (#{name},#{image},#{level})
    </insert>
</mapper>